@custom-variant dark (&:where(.dark, .dark *));
@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
	--body-gradient: linear-gradient(to top, #f3edfe, #f6f4ff);

	--color-background: #f3edfe;
	--color-foreground: #2a2a2a;

	--color-card: #ffffff;
	--color-card-foreground: #2a2a2a;

	--color-sidebar: #ffffff;
	--color-sidebar-foreground: #2a2a2a;

	--color-primary: #806df2;
	--color-primary-foreground: #ffffff;

	--color-muted: #f4f4f5;
	--color-muted-foreground: #737373;

	--color-border: #e4e4e7;
	--color-input: #ffffff;
	--color-ring: #d4d4d8;
}

.dark {
	--body-gradient: linear-gradient(to top, #1b1b1b, #2e2e2e);

	--color-background: #1b1b1b;
	--color-foreground: #e6e6e6;

	--color-card: #292929;
	--color-card-foreground: #f4f4f5;

	--color-sidebar: #202020;
	--color-sidebar-foreground: #f4f4f5;

	--color-primary: #8a7dd0;
	--color-primary-foreground: #1b1b1b;

	--color-muted: #2a2a2a;
	--color-muted-foreground: #b5b5bf;

	--color-border: #3f3f46;
	--color-input: #292929;
	--color-ring: #52525b;
}

@layer base {
	html {
		@apply bg-background text-foreground;
		/* scrollbar-gutter: stable; */
	}

	body {
		font-family: var(--font-manrope, sans-serif);
		font-size: 16px;
		min-width: 320px;
		min-height: 100vh;
		@apply bg-background text-foreground;
		background-image: var(--body-gradient);
	}

	* {
		@apply border-border outline-ring/50;
	}

	button {
		@apply cursor-pointer;
	}
}
